@import 'bourbon/bourbon.scss';
@import 'neat/neat.scss';
@import 'fonts';
@import 'font-awesome.min';

// $max-width: em(1024);


/* ========== [ Colors ] ============= */



/* =================================== */

$color-text-dark: #4E4E4A;
$color-accent-light: lighten($color-text-dark, 60%);
$color-accent-dark: #A3A299;
$color-body-bg: #F8F8F8;
$color-text-light: $color-body-bg;
$color-link: #D18483;
$color-link-hover: darken($color-link, 10%);



$radius: 2px;

$body-copy-size: 1.25em;

$copy-padding: 1.5em;

//Breakpoints

$mobile: new-breakpoint(max-width 500px);



/* ========== [ Resets ] ============= */

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    color: $color-link-hover;
  }
}

p {
  font-size: $body-copy-size;
  margin-bottom: $copy-padding;
  margin-top: 0;
}

label {
  text-transform: uppercase;
  font-size: 1rem;
}

/* ========== [ Extenders ] ============= */

%ul-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

%icon {
  &:before {
    @extend .fa;
    padding-right: 0.5em;
  }
}


/* ========== [ Global ] ============= */

body {
  font: 1em/1.6 'source_sans_prolight', arial, sans-serif;
  color: $color-text-dark;
  background-color: $color-body-bg;
}

.content-container {
  @include outer-container;
  padding: 3em 1rem;
}

.thumb-container {
  @include outer-container;
  padding: 3em 0;
  .section-title {
    padding: 0 1rem;
  }
}

.half-col {
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.one-third-col {
  @include span-columns(4); 
  @include media($mobile) {
    @include span-columns(12);
    margin: 1em 0;
  }
}


.one-fourth-col {
  @include span-columns(3);
  @include media($mobile) {
    @include span-columns(6);
    @include omega(2n);
  }
}

.three-fourth-col {
  @include span-columns(9);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.img-container {
  img {
    width: 100%;
     border-radius: $radius;
  }
}

.full-bleed {
  background-color: $color-accent-light;
}

.desaturate {
  @include filter(grayscale(80%));
  // -moz-filter: grayscale(80%);
}

a .desaturate {
  &:hover {
  @include filter(grayscale(50%));
  // -moz-filter: grayscale(50%);
  }
}

.copy-right {
  padding-left: $copy-padding;
  @include media($mobile) {
    padding-left: 0;
  }
}

.copy-left {
  padding-right: $copy-padding;
  @include media($mobile) {
    padding-right: 0;
  }
}

.cta {
  display: block;
}

/* ========== [ Header] ============= */

header {
  background-color: #2a2a2a;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-container {
  @include outer-container;
  padding: 0.25em 1rem;
  display: table;
  width: 100%;
}

.title {
  position: relative;
  display: table-cell;
}

.site-title {
  a {
    color: $color-accent-light;
  }
  @include media($mobile) {
    font-size: 1.5em;
  }
}

.site-nav {
  display: table-cell;
  vertical-align: middle;
}

.nav-links {
  @extend %ul-reset;
  text-align: right;
  font-family: 'source_sans_proregular';
  font-size: 1.125em;

  a {
    display: block;
  }

  li {
    display: inline-block;
  }
}

/* ========== [ Resume ] ============= */

.download-resume {
  @extend %icon;
  @extend .fa-download;
  float:right;
}

.resume-header-col {
  @extend .one-fourth-col;
  font-size: 1.25em;
}

.resume-detail-col {
  @extend .half-col;
}

.skill-section {
  @include shift(2);
}

.company-role {
  font-family: 'source_sans_proregular';
  font-size: 1.25em;
}

.resume-list {
  padding-left: 0;
  list-style-position: inside;
  line-height: 1.75em;
  li {
    color: #999;
    span {
      color: $color-text-dark;
    }
  }
}

/* ========== [ Welcome page ] ============= */

.hero-container {
  @extend .img-container;
  padding-top: 2em;
  position: relative;
  @include media($mobile) {
    img {
      width: auto;
    }
  }
}

.dark-overlay-container {
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  bottom: 8px;
  left:0;
  right: 0;
}

.hero-copy-outer-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-copy-inner-container {
  @include outer-container;
  padding: 6rem 1rem 0 1rem;
  position: relative;
}

.hero-copy {
  @extend .three-fourth-col;
  font-size: 2.5em;
  color: $color-text-light;
  @include media($mobile) {
    font-size: 1.5em;
  }
}


.intro-container {
  @include outer-container;
  padding: 5em 1rem 3em 1rem;
}

.thumb-border-container {
  @extend .content-container;
  padding-top: 0;
}

.section-title {
  margin-bottom: 1em;
  text-transform: uppercase;
  color: $color-accent-dark;
}

.thumb-col {
  @extend .one-third-col;
  @include transition(background-color 0.1s);
  // background-color: #fff;
  border-radius: $radius;
  padding: 1em;
  &:hover {
    // background-color: darken($color-body-bg, 2%);
    .project-title {
      color: $color-link-hover;
    }
    img {
      @include filter(grayscale(50%));
    }
  }
}

.thumb-half-col {
  @extend .thumb-col;
  @include span-columns(6);
}

.thumb-list-view {
  @include outer-container;
  margin-bottom: 1em;

  .img-container {
    @include span-columns(4);
    &:hover {
      img {
        @include filter(grayscale(60%));
      }
    }
  }
  .thumb-caption {
    @include span-columns(8);
  }

}

.thumb-caption {
  font-size: 1.5em;
  color: $color-text-dark;
}

.project-title {
  font-weight: bold;
  color: $color-link;
}

.project-type {
  text-transform: uppercase;
  font-size: 0.7em;
  color: $color-accent-dark;
}

.outro-copy {
  font-size: 2em;
}

/* ========== [ Design ] ============= */

.top-navigation {
  padding: 1em 0 3em 0;
}

.bottom-navigation {
  @include outer-container;
  padding: 0 1rem 3em 1rem;

}

.forward {
  &:after {
    @extend .fa;
    // fa-caret-right
    content: '\f0da';
    padding-left: 0.5em;
  }
  display: block;
  float: right;
}

.back {
  @extend %icon;
  @extend .fa-caret-left;
}

/* ========== [ Prototype ] ============= */

.prototype-container {
  text-align: center;
  padding-bottom: 200px;
  p {
    margin-bottom: 0px;
  }
}

.button-wrapper {
  margin: 30px auto;
}

button.breakpoint-button {
  width: 80px;
  height: 80px;
  font-size: 36px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  margin: 5px;
  &:hover {
    background-color: #ccc;
  }
}

.device-wrapper {
  background-color: #666;
  padding: 50px;
  border-radius: 40px;
  margin: 0px auto;
  transition: width 0.7s ease-in-out, height 0.7s ease-in-out, padding 0.7s ease-in-out;
  &.desktop {
    width: 100%;
    height: 700px;
  }
  &.tablet {
    width: 868px;
    height: 700px;
  }
  &.mobile {
    width: 520px;
    height: 860px;
    #dupont-iframe {
      height: 740px;
    }
    padding: 50px 20px 70px 20px;
  }
}

#trapezoid {
  content: ''; /* To generate the box */
  width: 300px;
  height: 200px;
  margin: -100px auto 0 auto;
  border-radius: 0 0 10px 10px;
  background: #666;
  transform: perspective(5px) rotateX(1deg);
  transform-origin: bottom;
  transition: opacity 0.3s;
}
