@import 'bourbon/bourbon.scss';
@import 'neat/neat.scss';
@import 'fonts';

// $max-width: em(1024);


/* ========== [ Colors ] ============= */



/* =================================== */

$color-text-dark: #4E4E4A;
$color-accent-light: lighten($color-text-dark, 60%);
$color-accent-dark: #A3A299;
$color-body-bg: #F8F8F8;
$color-text-light: $color-body-bg;
$color-link: #D18483;
$color-link-hover: darken($color-link, 10%);



$radius: 2px;

$body-copy-size: 1.25em;

$copy-padding: 1.5em;



/* ========== [ Resets ] ============= */

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    color: $color-link-hover;
  }
}

p {
  font-size: $body-copy-size;
  margin-bottom: $copy-padding;
  margin-top: 0;
}

label {
  text-transform: uppercase;
  font-size: 1rem;
}

/* ========== [ Extenders ] ============= */

%ul-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* ========== [ Global ] ============= */

body {
  font: 1em/1.6 'source_sans_prolight', arial, sans-serif;
  color: $color-text-dark;
  background-color: $color-body-bg;
}

.content-container {
  @include outer-container;
  padding: 3em 0 6em 0;
}

.row-container {
  @include outer-container;
  padding: 3em 0;
}

.half-col {
  @include span-columns(6);
}

.one-third-col {
  @include span-columns(4); 
}

.one-fourth-col {
  @include span-columns(3);
}

.three-fourth-col {
  @include span-columns(9);
}

.img-container {
  img {
    width: 100%;
     border-radius: $radius;
  }
}

.full-bleed {
  background-color: $color-accent-light;
}

.desaturate {
  @include filter(grayscale(80%));
  // -moz-filter: grayscale(80%);
}

a .desaturate {
  &:hover {
  @include filter(grayscale(50%));
  // -moz-filter: grayscale(50%);
  }
}

.copy-right {
  padding-left: $copy-padding;
}

.copy-left {
  padding-right: $copy-padding;
}

.cta {
  display: block;
}

/* ========== [ Header] ============= */

header {
  background-color: #2a2a2a;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-container {
  @include outer-container;
  padding: 0.5em 0;
}

.title {
  @include span-columns(6);
  position: relative;
}

.site-title {
  a {
    color: $color-accent-light;
  }
}

.site-nav {
  @include span-columns(6);
}

.nav-links {
  @extend %ul-reset;
  text-align: right;
  font-family: 'source_sans_proregular';

  a {
    display: block;
    padding-top: 0.75em;
  }

  li {
    display: inline-block;
  }
}

/* ========== [ Resume ] ============= */

.resume-header-col {
  @extend .one-fourth-col;
  font-size: 1.25em;
}

.resume-detail-col {
  @extend .half-col;
}

.skill-section {
  @include shift(2);
}

.company-role {
  font-family: 'source_sans_proregular';
  font-size: 1.25em;
}

.resume-list {
  padding-left: 0;
  list-style-position: inside;
  line-height: 1.75em;
  li {
    color: #999;
    span {
      color: $color-text-dark;
    }
  }
}

/* ========== [ Welcome page ] ============= */

.hero-container {
  padding-top: 2em;
  position: relative;
  // @include filter(blur(4px));
}

.dark-overlay-container {
  // background: url('../content/dark-overlay.png');
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  bottom: 8px;
  left:0;
  right: 0;
}

.intro-copy {
  font-size: 3em;
  position: absolute;
  top: 3em;
  left: 1.875em;
  color: $color-text-light;
}

.intro-container {
  @include outer-container;
  padding: 5em 0 3em 0;
}

.thumb-border-container {
  @extend .content-container;
  padding-top: 0;
}

.section-title {
  margin-bottom: 1em;
  text-transform: uppercase;
  color: $color-accent-dark;
}

.thumb-col {
  @include span-columns(4);
  @include transition(background-color 0.1s);
  // background-color: #fff;
  border-radius: $radius;
  padding: 1em;
  &:hover {
    // background-color: darken($color-body-bg, 2%);
    .project-title {
      color: $color-link-hover;
    }
    img {
      @include filter(grayscale(50%));
    }
  }
}

.thumb-half-col {
  @extend .thumb-col;
  @include span-columns(6);
}

.thumb-list-view {
  @include outer-container;
  margin-bottom: 1em;

  .img-container {
    @include span-columns(4);
    &:hover {
      img {
        @include filter(grayscale(60%));
      }
    }
  }
  .thumb-caption {
    @include span-columns(8);
  }

}

.thumb-caption {
  font-size: 1.5em;
  color: $color-text-dark;
}

.project-title {
  font-weight: bold;
  color: $color-link;
}

.project-type {
  text-transform: uppercase;
  font-size: 0.7em;
  color: $color-accent-dark;
}

.outro-copy {
  font-size: 2em;
}

/* ========== [ Design ] ============= */

.top-navigation {
  padding: 1em 0 3em 0;
}

.bottom-navigation {
  @include outer-container;
  padding-bottom: 3em;
}

.forward {
  display: block;
  float: right;

}