@import 'bourbon/bourbon.scss';
@import 'neat/neat.scss';
@import 'fonts';

// $max-width: em(1024);


/* ========== [ Colors ] ============= */

$fake-black: #1F1917;
$dark-brown: #241205;
$powder-blue: #667C74;
$cream: #C1BB7B;

/* =================================== */

$color-body-copy: #4E4E4A;
$color-body-bg: #F8F8F8;
$color-link: #D18483;


$radius: 2px;

$body-copy-size: 1.25em;

$copy-padding: 1.5em;



/* ========== [ Resets ] ============= */

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 1.75em;
}

h3 {
  @extend %h3;
}

a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    color: darken($color-link, 10%);
  }
}

p {
  font-size: $body-copy-size;
  margin-bottom: $copy-padding;
  margin-top: 0;
}

.copy-right {
  padding-left: $copy-padding;

}
.copy-left {
  padding-right: $copy-padding;
}

/* ========== [ Extenders ] ============= */

%ul-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

%h3 {
  font-size: 1em;
  text-transform: uppercase;
}


/* ========== [ Global ] ============= */

body {
  font: 1em/1.6 'source_sans_prolight', arial, sans-serif;
  color: $color-body-copy;
  background-color: $color-body-bg;
  // background: image-url('site-bg.png');
}

.content-container {
  @include outer-container;
  padding: 3em 0 6em 0;
}

.thumb-col {
  @include span-columns(4);
}

.content-row {
  @include clearfix;
}

.half-col {
  @include span-columns(6);
}

.one-third-col {
  @include span-columns(4); 
}

.one-fourth-col {
  @include span-columns(3);
}

.three-fourth-col {
  @include span-columns(9);
}

.img-container {
  img {
    width: 100%;
     border-radius: $radius;
  }
}

.full-bleed {
  background-color: lighten(#4E4E4A, 60%);
}

.desaturate {
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  filter: grayscale(80%);
}

/* ========== [ Header] ============= */

header {
  background-color: #4E4E4A;
  position: fixed;
  width: 100%;
}

.header-container {
  @include outer-container;
  padding: 1em 0;
}

.title {
  @include span-columns(6);
  position: relative;
}

.site-title {
  a {
    color: lighten(#4E4E4A, 60%);
  }
}

.site-nav {
  @include span-columns(6);
}

.nav-links {
  @extend %ul-reset;
  text-align: right;
  // font-size: 1.125em;
  font-family: 'source_sans_proregular';

  a {
    display: block;
    text-transform: uppercase;
    color: #C7D1C8;
    // padding: 1em 1.25em;
    // border-bottom-right-radius: $radius;
    // border-bottom-left-radius: $radius;
  }

  li {
    display: inline-block;
  }
}

/* ========== [ Resume ] ============= */

.resume-header-col {
  @include span-columns(2);
}

.resume-detail-col {
  @include span-columns(10);
}

.skill-section {
  @include shift(2);
}

.company-name {
  font-family: 'source_sans_proregular';
}

/* ========== [ Welcome page ] ============= */

.hero-container {
  // height: 300px;
  // overflow: hidden;
}

.intro-copy {
  font-size: 2em;
}

.intro-container {
  @include outer-container;
  padding: 9em 0 3em 0;
}

.thumb-border-container {
  @extend .content-container;
  padding-top: 0;
}

.section-title {
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #A3A299;
}
/* ========== [ Design ] ============= */

// .project-thumb {
//   overflow: hidden;
//   img {
//     // @include transition(opacity, 0.1s);
//     border-radius: $radius;
//     // opacity: 0.5;
//     &:hover {
//       // opacity: 0.8;
//     }
//   }
// }

.thumb-caption {
  font-size: $body-copy-size;
  color: $color-body-copy;
}

// .project-desc {
//   @include span-columns(8);
// }

// .project-actions {
//   @include span-columns(4); 
//   @extend %ul-reset;
// }

// .content-img {
//   @include span-columns(4);
//   img {
//     max-width: 100%;
//   }
// }

// .project-desc, .project-actions {
//   margin-top: 1em;
//   margin-bottom: 2em;
// }

