@import 'bourbon/bourbon.scss';
@import 'neat/neat.scss';
@import 'fonts';
@import 'font-awesome.min';

// $max-width: em(1024);


/* ========== [ Colors ] ============= */

$color-theme: #4E4E4A;
$color-theme-light: lighten($color-theme, 60%);

$color-accent: #A3A299;
$color-accent-dark: darken($color-accent, 10%);
$color-accent-light: lighten($color-accent, 30%);

$color-body-bg: #F8F8F8;

$color-text-dark: $color-theme;
$color-text-light: $color-theme-light;

$color-fullbleed: $color-theme-light;

$color-link: #D18483;
$color-link-hover: darken($color-link, 10%);

$radius: 2px;

$body-copy-size: 1.25em;

$copy-padding: 1.5em;

//Breakpoints

$mobile: new-breakpoint(max-width 500px);

$tablet: new-breakpoint(max-width 760px);



/* ========== [ Resets ] ============= */

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

a {
  @include transition(color 0.1s);
  color: $color-link;
  text-decoration: none;
  &:hover {
    color: $color-link-hover;
  }
}

p {
  font-size: $body-copy-size;
  margin-bottom: $copy-padding;
  margin-top: 0;
}

label {
  text-transform: uppercase;
  font-size: 1rem;
}

img {
  border: 1px solid #ccc;
}

footer {
  -moz-box-shadow:    inset 0 20px 20px -20px #eee;
  -webkit-box-shadow: inset 0 20px 20px -20px #eee;
  box-shadow:         inset 0 20px 20px -20px #eee;
  color: $color-accent;
  @include media($mobile) {
    text-align: center;
  }
}

.footer-container {
  @include outer-container;
  padding: 2em 1rem 2em 1rem;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  li {
    display: inline-block;
  }
  @include media($mobile) {
    margin-top: 1.5em;
    text-align: center;
  }
}

.resume-link {
  margin-right: 2rem;
}

::selection {
  background: lighten($color-link, 20%);
}


/* ========== [ Extenders ] ============= */

%ul-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

%icon {
  &:before {
    @extend .fa;
    padding-right: 0.5em;
  }
}

%button {
  @include transition(background-color 0.1s);
  background-color: $color-link;
  color: #fff;
  padding: 0.25em 1em;
  border-radius: $radius;
  &:hover {
    background-color: $color-link-hover;
    color: #fff;
  }
}


/* ========== [ Global ] ============= */

body {
  font: 1em/1.6 'source_sans_prolight', arial, sans-serif;
  color: $color-text-dark;
  background-color: $color-body-bg;
}

.content-container {
  @include outer-container;
  padding: 3em 1rem;
  @include media($mobile) {
    padding: 2em 1rem;
  }
}

.thumb-container {
  @include outer-container;
  padding: 3em 0;
  .section-title {
    padding: 0 1rem;
  }
  @include media($mobile) {
    padding: 2em 0;
    .section-title {
      margin-bottom: 0;
    }
  }
}

.half-col {
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.one-third-col {
  @include span-columns(4); 
  @include media($mobile) {
    @include span-columns(12);
    margin: 1em 0;
  }
}


.one-fourth-col {
  @include span-columns(3);
  @include media($mobile) {
    @include span-columns(6);
    @include omega(2n);
  }
}

.three-fourth-col {
  @include span-columns(9);
  @include media($mobile) {
    @include span-columns(12);
  }
}

.img-container {
  img {
    width: 100%;
     border-radius: $radius;
  }
}

.full-bleed {
  background: url('../content/brushed.png') $color-fullbleed;
}

.desaturate {
  @include filter(grayscale(80%));
}

a .desaturate {
  &:hover {
  @include filter(grayscale(50%));
  }
}

.copy-right {
  padding-left: $copy-padding;
  @include media($mobile) {
    padding-left: 0;
  }
}

.copy-left {
  padding-right: $copy-padding;
  @include media($mobile) {
    padding-right: 0;
  }
}

.cta {
  display: block;
}

/* ========== [ Header] ============= */

header {
  background-color: $color-accent;
  background-color: rgba(163,162,153,0.98);
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 1px $color-accent-dark solid;

  a {
    color: darken($color-text-dark, 10%);
    &:hover {
      color: #000;
    }
  }
}

.header-container {
  @include outer-container;
  padding: 0.5em 1rem;
  width: 100%;
}

.header-name {
  font-size: 1.25em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  float: left;
}

.header-resume {
  float: right;
  line-height: 2em;
  @include media($mobile) {
    display: none;
  }
}

/* ========== [ Resume ] ============= */

.download-resume {
  @extend %icon;
  @extend .fa-download;
  float:right;
  @include media($mobile) {
    float: none;
  }
}

.resume-header-col {
  @extend .one-fourth-col;
  font-size: 1.25em;

  @include media($mobile) {
    width: 100%;
  }
}

.resume-detail-col {
  @extend .three-fourth-col;
}

.skill-section {
  .resume-detail-col {
    @include shift(3);
  }

  .resume-list {
    margin-top: 0;
  }

  .section-title {
    margin-bottom: 0;
    @include media($mobile) {
      margin-bottom: 1em;
    }
  }

  @include media($mobile) {
    .resume-detail-col {
      @include shift(0);
    }
  }
}

.company-role {
  font-family: 'source_sans_proregular';
  font-size: 1.25em;
}

.resume-list {
  padding-left: 0;
  list-style-position: inside;
  line-height: 1.75em;
  li {
    color: #999;
    span {
      color: $color-text-dark;
    }
  }
}

/* ========== [ Welcome page ] ============= */

.hero-container-overlay {
  background-color: rgba(0,0,0,0.7);
}

.hero-container {
  background-image: url('../content/hero-img-cropped.jpg');
  background-size: cover;
  position: relative;
}

.hero-copy-outer-container {
  @include outer-container;
  padding: 6em 1rem 3em 1rem;
}

.hero-copy {
  @extend .three-fourth-col;
  font-family: 'source_sans_proextralight';
  color: $color-body-bg;
  @include media($tablet) {
    width: 100%;
  }
}

.hero-headline {
  font-size: 2.5em;
  margin-bottom: 1rem;
  line-height: 3.5rem;
  @include media($tablet) {
    font-size: 2em;
    line-height: 3rem;
  }
  @include media($mobile) {
    font-size: 1.5em;
    line-height: 2.5rem;
  }
}

.hero-body {
  font-size: 1.25em;
  color: $color-text-light;
  @include media($mobile) {
    font-size: 1em;
  }

  ul {
    margin: 0.5em 0 0 0;
    list-style-position: inside;
    padding: 0;
  }
}


.intro-container {
  @include outer-container;
  padding: 5em 1rem 3em 1rem;
  @include media($mobile) {
   padding: 3em 1rem 1em 1rem;
  }
}

.thumb-border-container {
  @extend .content-container;
  padding-top: 0;
}

.section-title {
  margin-bottom: 1em;
  text-transform: uppercase;
  color: $color-accent;
}

.thumb-col {
  @extend .one-third-col;
  @include transition(box-shadow 0.1s, background-color 0.15s);
  border-radius: $radius;
  padding: 1em;
  cursor: pointer;
    img {
      @include filter(grayscale(50%));
    }
  @include media($mobile) {
    img {
      @include filter(grayscale(0));
    }
  }
  &:hover {
    @include transition(box-shadow 0.1s, background-color 0.1s);
    -moz-box-shadow:    0px 2px 5px 0px #ccc;
    -webkit-box-shadow: 0px 2px 5px 0px #ccc;
    box-shadow:         0px 2px 5px 0px #ccc;
    background-color: $color-theme-light;

    .project-title {
      color: $color-link-hover;
    }
    img {
      @include filter(grayscale(0%));
    }

    @include media($mobile) {
      background-color: transparent;
      box-shadow: none;
      img {
        @include filter(grayscale(0));
      }
    }
  }

}

.bounce:hover {
  @include media($mobile) {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  -webkit-animation-duration: 0.2s; 
  animation-duration: 0.2s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  -webkit-animation-timing-function: ease-in-out; 
  animation-timing-function: ease-in-out;
  -webkit-animation-name: bounce; 
  animation-name: bounce; 
} 

@-webkit-keyframes bounce { 
  0% {-webkit-transform: translateY(0);} 
  50% {-webkit-transform: translateY(-6px);}
  100% {-webkit-transform: translateY(-5px);}  
} 

@keyframes bounce { 
  0% {transform: translateY(0);} 
  50% {transform: translateY(-6px);}
  100% {transform: translateY(-5px);}
}

.thumb-half-col {
  @extend .thumb-col;
  @include span-columns(6);
}

.thumb-list-view {
  @include outer-container;
  margin-bottom: 1em;

  .img-container {
    @include span-columns(4);
    &:hover {
      img {
        @include filter(grayscale(60%));
      }
    }
  }
  .thumb-caption {
    @include span-columns(8);
  }

}

.thumb-caption {
  font-size: 1.5em;
  color: $color-text-dark;
}

.project-title {
  font-weight: bold;
  color: $color-link;
}

.project-type {
  text-transform: uppercase;
  font-size: 0.7em;
  color: $color-accent;
}

.outro-copy {
  font-size: 1.75em;
}

/* ========== [ Design ] ============= */

.top-navigation {
  padding: 1em 0 1.5em 0;
}

.bottom-navigation {
  @include outer-container;
  padding: 0 1rem 3em 1rem;

}

.forward {
  &:after {
    @extend .fa;
    // fa-caret-right
    content: '\f0da';
    padding-left: 0.5em;
  }
  display: block;
  float: right;
}

.back {
  @extend %icon;
  @extend .fa-caret-left;
}

.launch-prototype {
  @extend %button;
  &:after {
    @extend .fa;
    content: '\f0da';
    padding-left: 0.5em;
  }
  @include media($mobile) {
    display: none;
  }
}

/* ========== [ Prototype ] ============= */

$color-silhouette: #666;

.prototype-container {
  text-align: center;
  padding-bottom: 10em;
  p {
    margin-bottom: 0px;
  }
}

.button-wrapper {
  margin: 30px auto;
}

button.breakpoint-button {
  width: 80px;
  height: 80px;
  font-size: 36px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  margin: 5px;
  &:hover {
    background-color: #ccc;
  }
  &:focus {
    outline: 0;
  }
  &.active {
    background-color: $color-accent-dark;
    color: #fff;
  }
}

.device-wrapper {
  background-color: $color-silhouette;
  padding: 20px 50px 0px 50px;
  border-radius: 40px;
  margin: 0px auto;
  transition: width 0.7s ease-in-out, height 0.7s ease-in-out, padding 0.7s ease-in-out;
  .mic-slot {
    opacity: 1;
    margin: 0 auto 20px auto;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: lighten($color-silhouette, 10%);
    transition: width 0.4s ease-in-out;
  }
  #dupont-iframe {
    transition: height 0.7s;
  }
  .home-button {
    opacity: 0.0;
    background-color: lighten($color-silhouette, 10%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px auto 0 auto;
    transition: opacity 0.3s;
    transition-delay: 0.0s;
  }

  &.desktop {
    width: 100%;
    #dupont-iframe {
      height: 600px;
    }
  }

  &.tablet {
    width: 780px;
    padding: 20px 30px 20px 30px;
    #dupont-iframe {
      height: 900px;
    }
    .home-button {
      opacity: 1;
      transition-delay: 0.7s;
    }
  }

  &.mobile {
    width: 500px;
    padding: 20px 20px 20px 20px;
    .mic-slot {
      width: 70px;
    }
    #dupont-iframe {
      height: 740px;
    }
    .home-button {
      opacity: 1;
      transition-delay: 0.7s;
    }
  }
}

#trapezoid {
  content: ''; /* To generate the box */
  width: 300px;
  height: 200px;
  margin: -100px auto 0 auto;
  border-radius: 0 0 10px 10px;
  background-color: $color-silhouette;
  transform: perspective(5px) rotateX(1deg);
  transform-origin: bottom;
  transition: opacity 0.3s;
}
