@import 'bourbon/bourbon.scss';
@import 'neat/neat.scss';
@import 'fonts';

// $max-width: em(1024);


/* ========== [ Colors ] ============= */

$fake-black: #1F1917;
$dark-brown: #241205;
$powder-blue: #667C74;
$cream: #C1BB7B;

/* =================================== */

$color-body-copy: #82665A;
$color-body-bg: #F4F4F4;
$color-link: #9C5A36;


$radius: 2px;



/* ========== [ Resets ] ============= */

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h3 {
  @extend %h3;
}

a {
  color: $color-link;
  text-decoration: none;
}

header {
  margin-bottom: 3em;
  // background-color: #947991;
}

/* ========== [ Extenders ] ============= */

%ul-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

%h1 {
  font-size: 1.75em;
}

%h3 {
  font-size: 1em;
  text-transform: uppercase;
}


/* ========== [ Global ] ============= */

body {
  font: 1em/1.6 'source_sans_prolight', arial, sans-serif;
  color: $color-body-copy;
  background-color: $color-body-bg;
  // background: image-url('site-bg.png');
}

.content-container {
  @include outer-container;
}

.thumb-col {
  @include span-columns(4);
}

.content-row {
  @include clearfix;
}

/* ========== [ Header] ============= */

.header-container {
  @include outer-container;
}

.title {
  @include span-columns(6);
  position: relative;
}

.site-title {
  font-size: 2.5em;
  line-height: 53px;
  a {
    color: $fake-black;
  }
}

.site-nav {
  @include span-columns(6);
}

.nav-links {
  @extend %ul-reset;
  text-align: right;
  font-size: 1.125em;
  font-family: 'source_sans_proregular';

  a {
    display: block;
    padding: 0.75em 1.25em;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  li {
    display: inline-block;
    &.active {
      a {
        // background-color: #CBBEBC;
      }
    }
  }
}

/* ========== [ Resume ] ============= */

.resume-header-col {
  @include span-columns(2);
}

.resume-detail-col {
  @include span-columns(10);
}

.skill-section {
  @include shift(2);
}
.company-name {
  font-family: 'source_sans_proregular';
}

/* ========== [ Design ] ============= */

.project-thumb {
  overflow: hidden;
  img {
    // @include transition(opacity, 0.1s);
    border-radius: $radius;
    // opacity: 0.5;
    &:hover {
      // opacity: 0.8;
    }
  }

}

.thumb-caption {
  margin-bottom: 3em;
}
